USE [master]
GO
/****** Object:  Database [QL_NSTHPT]    Script Date: 11/21/2019 7:20:04 AM ******/
CREATE DATABASE [QL_NSTHPT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_NSTHPT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.GARRET\MSSQL\DATA\QL_NSTHPT.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_NSTHPT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.GARRET\MSSQL\DATA\QL_NSTHPT_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_NSTHPT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_NSTHPT]
GO
/****** Object:  User [garret]    Script Date: 11/21/2019 7:20:04 AM ******/
CREATE USER [garret] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 11/21/2019 7:20:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[BACLUONG] [int] NOT NULL,
	[LUONGCOBAN] [int] NULL,
 CONSTRAINT [PK_CHAMCONG] PRIMARY KEY CLUSTERED 
(
	[BACLUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 11/21/2019 7:20:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [int] NOT NULL,
	[TENCV] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_CV] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANTOC]    Script Date: 11/21/2019 7:20:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANTOC](
	[DANTOC] [nvarchar](10) NOT NULL,
	[TENDT] [nchar](10) NULL,
 CONSTRAINT [PK_DANTOC] PRIMARY KEY CLUSTERED 
(
	[DANTOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIEMDANH]    Script Date: 11/21/2019 7:20:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEMDANH](
	[MADD] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [char](10) NULL,
	[DD] [nchar](10) NULL,
	[NGAYDD] [date] NULL,
 CONSTRAINT [PK_DD] PRIMARY KEY CLUSTERED 
(
	[MADD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/21/2019 7:20:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](5) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[GT] [nvarchar](10) NULL,
	[QUEQUAN] [nvarchar](50) NULL,
	[NGSINH] [date] NULL,
	[DANTOC] [nvarchar](10) NULL,
	[SDT] [varchar](12) NULL,
	[MAPB] [char](10) NULL,
	[MACV] [int] NULL,
	[MATDHV] [char](10) NULL,
	[BACLUONG] [int] NULL,
	[MATKHAU] [char](15) NULL,
	[HINH] [nvarchar](100) NULL,
	[QUYEN] [char](10) NULL,
 CONSTRAINT [PK_NV] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 11/21/2019 7:20:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPB] [char](10) NOT NULL,
	[TENPB] [nvarchar](50) NOT NULL,
	[DIADIEM] [nvarchar](30) NULL,
 CONSTRAINT [PK_PB] PRIMARY KEY CLUSTERED 
(
	[MAPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 11/21/2019 7:20:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[Quyen] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TDHV]    Script Date: 11/21/2019 7:20:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TDHV](
	[MATDHV] [char](10) NOT NULL,
	[TENTDHV] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_TDHV] PRIMARY KEY CLUSTERED 
(
	[MATDHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THONGTINKHAC]    Script Date: 11/21/2019 7:20:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THONGTINKHAC](
	[MAHOSO] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [char](5) NULL,
	[CMND] [varchar](15) NULL,
	[NGAYCAP] [date] NULL,
	[NOICAP] [nvarchar](50) NULL,
	[MASOTHUE] [varchar](15) NULL,
	[NGAYVAOLAM] [date] NULL,
	[TTHONNHAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_TTK] PRIMARY KEY CLUSTERED 
(
	[MAHOSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHAMCONG] ([BACLUONG], [LUONGCOBAN]) VALUES (1, 10000000)
INSERT [dbo].[CHAMCONG] ([BACLUONG], [LUONGCOBAN]) VALUES (2, 8000000)
INSERT [dbo].[CHAMCONG] ([BACLUONG], [LUONGCOBAN]) VALUES (3, 6000000)
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (1, N'Hiệu trưởng')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (2, N'Phó hiệu trưởng')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (3, N'Giáo viên')
INSERT [dbo].[DANTOC] ([DANTOC], [TENDT]) VALUES (N'DT1', N'Kinh      ')
INSERT [dbo].[DANTOC] ([DANTOC], [TENDT]) VALUES (N'DT2', N'Hoa       ')
INSERT [dbo].[DANTOC] ([DANTOC], [TENDT]) VALUES (N'DT3', N'H''Mông    ')
SET IDENTITY_INSERT [dbo].[DIEMDANH] ON 

INSERT [dbo].[DIEMDANH] ([MADD], [MANV], [DD], [NGAYDD]) VALUES (4, N'NV1       ', N'Có        ', CAST(0x65400B00 AS Date))
INSERT [dbo].[DIEMDANH] ([MADD], [MANV], [DD], [NGAYDD]) VALUES (149, N'NV1       ', N'          ', CAST(0x67400B00 AS Date))
INSERT [dbo].[DIEMDANH] ([MADD], [MANV], [DD], [NGAYDD]) VALUES (150, N'NV10      ', N'          ', CAST(0x67400B00 AS Date))
SET IDENTITY_INSERT [dbo].[DIEMDANH] OFF
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GT], [QUEQUAN], [NGSINH], [DANTOC], [SDT], [MAPB], [MACV], [MATDHV], [BACLUONG], [MATKHAU], [HINH], [QUYEN]) VALUES (N'NV1  ', N'Phạm Quang Kha', N'Nam', N'H? Chí Minh', CAST(0x9A220B00 AS Date), N'Kinh', N'0909090909', N'A103      ', 1, N'A         ', 1, N'NV1            ', N'\\Resources\\Hinh3.jpg', N'admin     ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GT], [QUEQUAN], [NGSINH], [DANTOC], [SDT], [MAPB], [MACV], [MATDHV], [BACLUONG], [MATKHAU], [HINH], [QUYEN]) VALUES (N'NV2  ', N'Phạm Dang B', N'Nữ', N'Tây Ninh', CAST(0xD0130B00 AS Date), N'Kinh', N'0909090909', N'A104      ', 2, N'A         ', 2, N'NV11           ', N'\\Resources\\Hinh2.jpg', N'admin     ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GT], [QUEQUAN], [NGSINH], [DANTOC], [SDT], [MAPB], [MACV], [MATDHV], [BACLUONG], [MATKHAU], [HINH], [QUYEN]) VALUES (N'NV3  ', N'Trần Lâm C', N'Nam', N'Hồ Chí Minh', CAST(0x9C0F0B00 AS Date), N'Hoa', N'0909090909', N'B101      ', 7, N'A         ', 3, N'NV1            ', N'\\Resources\\Hinh3.jpg', N'user      ')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [DIADIEM]) VALUES (N'A100      ', N'Khu A', N'Nhà A')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [DIADIEM]) VALUES (N'A101      ', N'Phòng hành chánh', N'Nhà A')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [DIADIEM]) VALUES (N'A102      ', N'Phòng y tế', N'Nhà A')
INSERT [dbo].[Quyen] ([Quyen]) VALUES (N'admin     ')
INSERT [dbo].[Quyen] ([Quyen]) VALUES (N'user      ')
INSERT [dbo].[TDHV] ([MATDHV], [TENTDHV]) VALUES (N'A         ', N'Thạc sĩ')
INSERT [dbo].[TDHV] ([MATDHV], [TENTDHV]) VALUES (N'E         ', N'Đại học')
INSERT [dbo].[TDHV] ([MATDHV], [TENTDHV]) VALUES (N'F         ', N'Cấp 3')
SET IDENTITY_INSERT [dbo].[THONGTINKHAC] ON 

INSERT [dbo].[THONGTINKHAC] ([MAHOSO], [MANV], [CMND], [NGAYCAP], [NOICAP], [MASOTHUE], [NGAYVAOLAM], [TTHONNHAN]) VALUES (1, N'NV1  ', N'0122226625', CAST(0x67400B00 AS Date), N'TP.Hồ Chí Minh', N'454564', CAST(0x67400B00 AS Date), N'Ðộc thân')
INSERT [dbo].[THONGTINKHAC] ([MAHOSO], [MANV], [CMND], [NGAYCAP], [NOICAP], [MASOTHUE], [NGAYVAOLAM], [TTHONNHAN]) VALUES (2, N'NV2  ', N'0122226625', CAST(0x67400B00 AS Date), N'TP.Hồ Chí Minh', N'454564', CAST(0x67400B00 AS Date), N'Ly dị')
INSERT [dbo].[THONGTINKHAC] ([MAHOSO], [MANV], [CMND], [NGAYCAP], [NOICAP], [MASOTHUE], [NGAYVAOLAM], [TTHONNHAN]) VALUES (3, N'NV3  ', N'0122226625', CAST(0x67400B00 AS Date), N'TP.Hồ Chí Minh', N'454564', CAST(0x67400B00 AS Date), N'Độc thân')
SET IDENTITY_INSERT [dbo].[THONGTINKHAC] OFF
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_CC] FOREIGN KEY([BACLUONG])
REFERENCES [dbo].[CHAMCONG] ([BACLUONG])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_CC]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_CV] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_CV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_PB] FOREIGN KEY([MAPB])
REFERENCES [dbo].[PHONGBAN] ([MAPB])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_PB]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_TDHV] FOREIGN KEY([MATDHV])
REFERENCES [dbo].[TDHV] ([MATDHV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_TDHV]
GO
ALTER TABLE [dbo].[THONGTINKHAC]  WITH CHECK ADD  CONSTRAINT [FK_NV_TTK] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THONGTINKHAC] CHECK CONSTRAINT [FK_NV_TTK]
GO
USE [master]
GO
