@{
    ViewBag.Title = "Web mua bán giày dép";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="w-75 font-weight-bold">
    <tr>
        <td>
            <p>Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất. Vui lòng chuẩn bị tiền mặt sau 3 ngày đơn hàng được xác nhận.</p>
        </td>
    </tr>
    <tr class="float-right">
        <td>
            <a href="@Url.Action("Index", "Home")" class="btn btn-info">Quay lại trang chủ</a>
        </td>
    </tr>
</table>
